In [1]:
print("Hello!")

Hello!

In [2]:
print('한글도 쓸 수 있어요.')

한글도 쓸 수 있어요.

In [3]:
print("내 이름은 " + "홍길동" + "입니다.")

내 이름은 홍길동입니다.

In [4]:
print("*" * 10)

**********

In [5]:
n = 10
print("별표를 " + str(n) + "번 출력합니다.")
print("*" * n)

별표를 10번 출력합니다.
**********

In [6]:
print("한 줄 쓰고 ", end="")
print("이어서 쓴다.")

한 줄 쓰고 이어서 쓴다.

In [7]:
name = "홍길동"
print("내 이름은 " + name + "입니다.")

내 이름은 홍길동입니다.

In [8]:
mark = "$"
n = 20
print(mark + " 기호를 " + str(n) + "번 출력합니다.")
print(mark * n)

$ 기호를 20번 출력합니다.
$$$$$$$$$$$$$$$$$$$$

In [9]:
print('둘리가 "호이!"하고 말했어요.')

둘리가 "호이!"하고 말했어요.

In [10]:
print("둘리가 '이제 어디로 가지?'하고 생각했어요.")

둘리가 '이제 어디로 가지?'하고 생각했어요.

In [11]:
multi_line_string = """
파이썬(영어: Python)은 1991년 프로그래머인
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
Circus〉에서 따온 것이다."""
print(multi_line_string)

파이썬(영어: Python)은 1991년 프로그래머인
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
Circus〉에서 따온 것이다.

In [13]:
verb = "is"
noun = "complex"
print("Beautiful " + verb + " better than ugly.")
print("Explicit " + verb + " better than implicit.")
print("Simple " + verb + " better than" + noun)
print(noun + verb + " better than complicated")
print("Flat " + verb + " better than nested.")
print("Sparse " + verb + " better than dense.")

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better thancomplex
complexis better than complicated
Flat is better than nested.
Sparse is better than dense.

In [14]:
"2020.10.23" .replace(".", "-")

'2020-10-23'

In [15]:
"word with space" .replace(" ", "")

'wordwithspace'

In [16]:
"2020-12-25" .replace(".", "-")

'2020-12-25'

In [17]:
"2020 12 25" .replace(" ", "")

'20201225'

In [18]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [19]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [20]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [21]:
"%d 곱하기 %d은 %d이다." % (2, 3, 6)

'2 곱하기 3은 6이다.'

In [22]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

In [23]:
"%s is %d years old" %("Tom", 13)

'Tom is 13 years old'

In [26]:
a = 10
b = 3
a / b

3.3333333333333335

In [27]:
"[%20s]" % "*"

'[                   *]'

In [28]:
"[%-20s]" % "A"

'[A                   ]'

In [29]:
"[%20d]" % 123

'[                 123]'

In [30]:
"[%-20d]" % 123

'[123                 ]'

In [31]:
x = 1 / 3.0
"%.5f" % x

'0.33333'

In [32]:
"[%-20.6f]" % x

'[0.333333            ]'

In [35]:
"내 이름은 {}입니다." .format("홍길동")

'내 이름은 홍길동입니다.'

In [36]:
"내 이름은 {{{}}}입니다." .format("홍길동")

'내 이름은 {홍길동}입니다.'

In [37]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점!" . format("수학", 100, "철수")

'철수의 수학 점수는 100점입니다. 100점! 100점!'

In [38]:
"{a}점수: {x}점, {b}점수: {y}점" .format(a="영어", b="수학", x=100, y=90)

'영어점수: 100점, 수학점수: 90점'

In [39]:
"{}점수: {}점, {}점수: {}점" .format("영어", 100, "수학", 90)

'영어점수: 100점, 수학점수: 90점'

In [40]:
"[{:<20}]" .format("*")

'[*                   ]'

In [41]:
"[{:>20}]" .format("*")

'[                   *]'

In [42]:
"[{:^20}]" .format("*")

'[         *          ]'

In [43]:
"[{:20.5f}]" .format(1 / 3)

'[             0.33333]'

In [44]:
"[{:20,}]" .format(1234567890)

'[       1,234,567,890]'

In [45]:
"[{:-<20}]" .format("*")

'[*-------------------]'

In [46]:
"[{:->20}]" .format("*")

'[-------------------*]'

In [47]:
"[{:-^20}]" .format("*")

'[---------*----------]'

In [48]:
x = [10, 11, 12]
"리스트의 첫번째 원소={0[0]}" . format(x)

'리스트의 첫번째 원소=10'

In [49]:
y = {"a": 10, "b": 11, "c": 12}
"사전의 a키 값={0[a]}" .format(y)

'사전의 a키 값=10'

In [50]:
name = "홍길동"
age = 32
print(f"{name}의 나이는 {age}살이다.")

홍길동의 나이는 32살이다.

In [51]:
number = 1234567

In [52]:
f"[{number:<20}]"

'[1234567             ]'

In [53]:
f"[{number:>20}]"

'[             1234567]'

In [54]:
f"[{number:^20}]"

'[      1234567       ]'

In [55]:
f"[{number:-<20}]"

'[1234567-------------]'

In [56]:
f"[{number:->20}]"

'[-------------1234567]'

In [57]:
f"[{number:-^20}]"

'[------1234567-------]'

In [58]:
f"[{number:-^20,}]"

'[-----1,234,567------]'

In [59]:
f_number = 3.141592

In [60]:
f"[{f_number:20.3f}]"

'[               3.142]'

In [62]:
number = 36
f"[{number:->10}]"

'[--------36]'

In [63]:
number = 131346
f"[{number:->10,}]"

'[---131,346]'

In [65]:
a = 1
if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [66]:
b = 55

if (b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수이다.")
else:
    print("2자리 수의 짝수가 아니다.")

2자리 수의 짝수가 아니다.

In [67]:
a = 20

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [68]:
b = 78

if (b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수이다")
else:
    print("2자리 수의 짝수가 아니다")

2자리 수의 짝수이다

In [70]:
c = 6

if c >= 8:
    print("A")
elif c>= 5:
    print("B")
else:
    print("C")

B

In [71]:
c = 34

if c >= 8:
    print("A")
elif c >= 5:
    print("B")
else:
    print("C")

A

In [72]:
x = 32

if x > 10:
    print("1등급")
elif x > 7:
    print("2등급")
elif x > 4:
    print("3등급")
else:
    print("4등급")

1등급

In [73]:
sex = "boy"
pushup = 8

if sex == "boy":
    if pushup >= 10:
        grade = "Pass"
    else:
        grade = "Fail"
else:
    if pushup >= 10:
        grade = "Pass"
    else:
        grade = "Fail"
print(grade)

Fail

In [75]:
def twotimes(x):
    y = 2 * x
    return y

In [77]:
twotimes(2)

4

In [78]:
twotimes(10)

20

In [81]:
def add(x, y):
    return x + y

In [82]:
add(1, 2)

3

In [83]:
def sum(a, b, c):
    s = a + b + c
    return s

In [84]:
sum(1, 2, 3)

6

In [85]:
def f(x):
    return 2 *  x

In [88]:
f = lambda x : 2 * x

In [89]:
f(2)

4

In [90]:
del y

In [93]:
def f(x):
    y = 10 * x
    print("y =", y)
    return y

In [94]:
f(10)

y = 100

100

In [95]:
y

NameError: name 'y' is not defined

In [96]:
y = 1000

In [97]:
y

1000

In [98]:
f(1)

y = 10

10

In [99]:
y

1000

In [100]:
z = 3

def f2(x):
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [101]:
f2(10)

y = 30
z = 3

30

In [102]:
z = 3
 
def f3(x):
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [103]:
f3(10)

y = 990
z = 99

990

In [104]:
z

3

In [105]:
z = 3

def f4(x):
    global z
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [106]:
f4(10)

y = 990
z = 99

990

In [107]:
z

99

In [108]:
print("=1=")
print("=2=")
print("=3=")
print("=4=")
print("=5=")
print("=6=")
print("=7=")
print("=8=")
print("=9=")

=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=

In [109]:
for i in range(10):
    print("=")

=
=
=
=
=
=
=
=
=
=

In [110]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [111]:
for i in range(10):
    print("=" + str(i) + "=")

=0=
=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=

In [112]:
for i in range (9):
    print("=" + str(i + 1) + "=")

=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=

In [116]:
for i in range(10):
    print("*" + str("*" * i))

*
**
***
****
*****
******
*******
********
*********
**********

In [119]:
for i in range(4):
    for j in range(4):
        print(i + j, end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [120]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        print(n1, n2)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [121]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        n = n1 + n2
        if n % 4 == 0:
            print(n1, n2)

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [122]:
n = 5

sum = 0
for i in range(n):
    sum = sum + (i + 1)
print(sum)

15

In [123]:
for j in range(10):
    sum = 0
    for i in range(j + 1):
        sum = sum + (i + 1)
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [124]:
x = [88, 90, 100]

In [125]:
x

[88, 90, 100]

In [126]:
x[0]

88

In [127]:
x[1]

90

In [128]:
(x[0] + x[1]) / 2

89.0

In [129]:
x = [78, 85, 63, 100, 97]

In [213]:
(x[0] + x[1] + x[2] + x[3] + x[4]) / 5

84.6

In [131]:
b = {"math": 88, "english": 90, "history": 100}

In [132]:
b

{'math': 88, 'english': 90, 'history': 100}

In [133]:
b["math"]

88

In [134]:
b["english"]

90

In [135]:
(b["math"] + b["english"]) / 2

89.0

In [136]:
b2 = {1: 10, 2: 20}

In [137]:
b2

{1: 10, 2: 20}

In [138]:
d = [1, 3.14, "pi"]

In [139]:
d[0]

1

In [140]:
d[1]

3.14

In [141]:
d[2]

'pi'

In [142]:
e = [[1, 10], [2, 20]]

In [143]:
e[0]

[1, 10]

In [144]:
e[1]

[2, 20]

In [145]:
e[0][0]

1

In [146]:
e[0][1]

10

In [147]:
e[1][0]

2

In [148]:
e[1][1]

20

In [149]:
f = [{0: 0, 1: 10}, {0: 1, 1: 2}]

In [150]:
f[0]

{0: 0, 1: 10}

In [151]:
f[1]

{0: 1, 1: 2}

In [153]:
g = {"a": [1, 2, 3], "b": {0: 1, 1: 2}}

In [154]:
g["a"]

[1, 2, 3]

In [155]:
g["b"]

{0: 1, 1: 2}

In [156]:
a = [1, 2, 3]

In [157]:
len(a)

3

In [158]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [159]:
c = list(range(1, 10))
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
d = list(range(1, 10, 3))
d

[1, 4, 7]

In [161]:
d[0] = 100
d

[100, 4, 7]

In [162]:
e = list(range(4))
e

[0, 1, 2, 3]

In [163]:
e.append(4)
e

[0, 1, 2, 3, 4]

In [164]:
e.append(10)
e

[0, 1, 2, 3, 4, 10]

In [165]:
f = list(range(5))
f

[0, 1, 2, 3, 4]

In [166]:
f[0]

0

In [167]:
del f[0]
f

[1, 2, 3, 4]

In [168]:
f[2]

3

In [169]:
del f[2]
f

[1, 2, 4]

In [170]:
g = list(range(20))
g

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [172]:
g[0:5]

[0, 1, 2, 3, 4]

In [173]:
g[:5]

[0, 1, 2, 3, 4]

In [174]:
g[10:15]

[10, 11, 12, 13, 14]

In [175]:
g[-1]

19

In [176]:
g[-5:-2]

[15, 16, 17]

In [177]:
g[-3:]

[17, 18, 19]

In [178]:
g[-3:-1]

[17, 18]

In [181]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
l.append(10)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [198]:
h = [1, 2, 3]
h1, h2, h3 = h

In [199]:
h1

1

In [200]:
h2

2

In [201]:
h3

3

In [202]:
h1, h2 = h

ValueError: too many values to unpack (expected 2)

In [203]:
a = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a

[90, 85, 95, 80, 90, 100, 85, 75, 85, 80]

In [204]:
len(a)

10

In [206]:
sum = 0
for i in range(len(a)):
    sum = sum + a[i]
average = sum / len(a)
average

86.5

In [207]:
s = []
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for i in range(len(a1)):
    s.append(a1[i] + a2[i])
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [208]:
list(range(5))

[0, 1, 2, 3, 4]

In [209]:
for i in range(5):
    print(i)

0
1
2
3
4

In [210]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [211]:
sum = 0
for a1 in a:
    sum = sum + a1
average = sum / len(a)
average

86.5

In [215]:
for i, e in enumerate(["a", "b", "c"]):
    print("i = %d, e = %s" % (i, e))

i = 0, e = a
i = 1, e = b
i = 2, e = c

In [217]:
s = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for i, (a1i, a2i) in enumerate(zip(a1, a2)):
    s[i] = a1i +a2i
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [218]:
x = [[85, 90, 20, 50, 60, 25, 30, 75, 40, 55],
    [70, 100, 70, 70, 55, 75, 55, 60, 40, 45],
    [25, 65, 15, 25, 20, 5, 60, 70, 35, 10],
    [80, 45, 80, 40, 75, 35, 80, 55, 70, 90],
    [35, 50, 75, 25, 35, 70, 65, 50, 70, 10]]

In [219]:
sum = 0
num = 0
for i in range(len(x)):
    for j in range(len(x[i])):
        num = num + 1
        sum = sum + x[i][j]
sum / num

52.7

In [220]:
a12 = list(zip(a1, a2))
a12

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [222]:
s = []
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for a1i, a2i in zip(a1, a2):
    s.append(a1i + a2i)
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [223]:
a12

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [224]:
a21 = list(zip(*a12))
a21

[(90, 85, 95, 80, 90, 100, 85, 75, 85, 80),
 (95, 90, 90, 90, 95, 100, 90, 80, 95, 90)]

In [225]:
list(zip(*a21))

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [226]:
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60]
]

In [228]:
x1 = list(zip(*x))
x1

[('길동', '철수', '영수', '방자'), (90, 80, 70, 60)]

In [232]:
x1[0][0], x1[0][1], x1[0][2], x1[0][3]

('길동', '철수', '영수', '방자')

In [233]:
x = {"a": 10, "b": 20}

In [234]:
len(x)

2

In [235]:
x["a"]

10

In [236]:
x["a"] = 30

In [237]:
x

{'a': 30, 'b': 20}

In [238]:
x["c"] = 40

In [239]:
x

{'a': 30, 'b': 20, 'c': 40}

In [240]:
del x["b"]

In [241]:
x

{'a': 30, 'c': 40}

In [242]:
"a" in x

True

In [243]:
"d" in x

False

In [244]:
for k in x:
    print(k)

a
c

In [245]:
x.keys()

dict_keys(['a', 'c'])

In [246]:
for k in x.keys():
    print(k)

a
c

In [247]:
x.values()

dict_values([30, 40])

In [248]:
for v in x.values():
    print(v)

30
40

In [249]:
for k, v in x.items():
    print("key [%s] => value [%d]" % (k, v))

key [a] => value [30]
key [c] => value [40]

In [250]:
data = { 
     "철수": 98,
     "영희": 80,
     "순이": 100,
     "돌이": 70
}

In [251]:
data.keys()

dict_keys(['철수', '영희', '순이', '돌이'])

In [252]:
for k in data.keys():
    print(k)

철수
영희
순이
돌이

In [253]:
data.values()

dict_values([98, 80, 100, 70])

In [255]:
for v in data.values():
    print(v)

98
80
100
70

In [259]:
for k, v in data.items():
    print("[%s] [%d]" % (k, v))

[철수] [98]
[영희] [80]
[순이] [100]
[돌이] [70]

In [260]:
h = 10
v = 20 

def area(h, v):
    return h * v

a = area(h, v)
print(a)

200

In [272]:
r.h

10

In [273]:
r.v

20